.burger_menu {
    background: url("../images/bars-solid.svg") no-repeat;
    background-size: 25px;
    display: none;
    width: 26px;
    height: 26px;
    position: fixed;
    z-index: 9;
    margin-left: 5px;
    border: none;
}
.burger_menu:hover {
    background-color: transparent;
    transform: scale(1.2)
}
@media (max-width: 1144px) { 
        header .container {
        left: 0;
        margin-left: 0;
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .home-img-doors, .home-img-doors img {
        width: 100%;
        height: auto;
      }
      .our-products-link a img {
          width: 100%;
      }
      main > div > div > div > p,
     .aboutus-hom-text p,
     main > div > div > div > li,
     main > div > div > div > strong,
     main > div > div > div > i,
     main > div > div > div > ol {
         padding: 20px;
     }
     .aboutus-hom-text-down {
        display: block;
     }
     .sidebar {
        padding-left: 10px;
        
    }
}
@media (max-width: 1100px) { 
    .head-right {
      left: 0;
    }
    .hed-menu > ul > li > a {
        padding: 15px 10px;
    }
    .hidendoors-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 895px) { 
    .heder-center {
    left: auto;
    right: 10px;
    }
    .head-right {
        top: -26px;
      }
      .wrapper-image-contackt-block img {
        display: none;
    }
    main .container {
        margin-top: 200px;
    }
    .ware-flex {
        width: 100%;
    }
    .ware-flex {
        display: block;
    }
    .admin_panel {
        font-size: 15px;
    }
    .admin_panel tr th:first-child {
        display: none;
    }
    #all_goods th > img {
        width: 100%;
    }
    .orders_block_info {
        height: 40px;
    }
    }
@media (max-width: 800px) { 
    main .container {
        margin-top: 210px;
    }
    .head-right {
        top: -20px;
      }
      .footer-right .logo-block {
        display: none;
    }
    .our-products-link a img {
        height: auto;
    }
    .our-products-link > a, .our-products-link > div > a {
        height: 310px;
    }
    .our-products-link {
        height: auto;
    }
    .aboutus-hom-text img {
          width: 100%;
          height: auto;
    }
    .stock-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .vertical-menu ul li a {
        font-size: 11px;
    }
    .hed-menu > ul > li > a {
        padding: 8px 10px;
    }
    .list_3_img {
        width: 100%;
    }
    .hiden-doors-shpon a span {
        margin-left: 25px;
}
@media (max-width: 720px) { 
    .all_goods {
        font-size: 10px;
    }
    
}
@media (max-width: 700px) { 
    .logo-block {
        opacity: 0;
    }
    .sidebar {
      position: fixed;
      width: 145px;
      left: -170px;
      z-index: 8;
      top: 200px;
    }
    .vertical-menu ul li a {
        padding: 5px 10px;
    }
    .burger_menu {
        display: block;
    }
    .our-products-link > a, .our-products-link > div > a {
        width: 100%;
    }
    .hiden-dors-peculiarities p {
        padding: 0 10px;
    }
    ul:first-child {
        padding-left: 5px;
    }
    .basket table tr td:first-child {
        display: none;
    }
    .data-crm {
        width: 100%;
    }
    .sidebar-crm {
        width: 170px;
        font-size: 12px;
        position: fixed;
        left: -170px;
        z-index: 8;
        background-color: #fff;
    }
    .admin_panel #burger_menu{
        height: 27px;
        min-width: 27px;
        border: none;
    }
    .stock-content .stock-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 600px) { 
    .stock-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .flex-hiden-doors-elem {
        width: 100%;
    }
    .parameters {
        width: 100%;
    }
    .sum-ordering { 
        width: 80px;
    }
    .admin_panel  tr th:nth-child(2), .admin_panel  tr th:nth-child(8) {
        display: none;
    }
}
@media (max-width: 520px) {
    footer {
        font-size: 10px;
    }
    footer {
        font-size: 10px;
    } 
    .basket table tr td:nth-child(2) img {
        display: none;
    }
    .basket table tr td {
        padding: 0;
    }
    .admin_panel {
        padding: 0 10px;
    }
}
@media (max-width: 500px) { 
    main .container {
        margin-top: 225px;
    }
    .logo-block {
        opacity: 1;
        margin: auto;
    }
    .heder-center {
        display: none;
    }
    .head-right {
        top: -22px;
      }
      footer li {
          margin: 5%;
      }
      .copy {
          bottom: auto;
      }
      .facebook, .telegram {
        background-size: 30px;
      }
      .our-products-link > a, .our-products-link > div > a {
        height: 210px;
    }
    main div div a {
        font-size: 12px;
    }
    .stock-grid {
        grid-template-columns: 1fr 1fr;
    }
    .admin_panel input, .admin_panel select, .admin_panel textarea {
        min-width: auto;
}
@media (max-width: 420px) {
    .hidendoors-grid a {
        width: 100%;
    }
    .width-height {
        grid-template-columns: 1fr;
    }
    .data-crm div form label {
        display: inline-block;
        width: 50%;
        word-wrap: break-word;
        }
        #all_goods a {
            font-size: 10px;
        }
        .stock-content .stock-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
@media (max-width: 400px) {
    main .container {
        margin-top: 240px;
    }
    .product_blick select, .product_blick label, .product_blick input[type="number"] {
        width: 50%;
    }
    .parameters {
        margin-left: 10px;
    }
    .basket tr td, .basket a {
        font-size: 10px;
    }
    .raz {
        width: 45px;
        margin: 0 -17px;
    }
    .quility_td a {
        width: 12px;
        height: 12px;
    }
}
