.hitsale h4, .stock h4, .production > h4, .hiddendoor h4, .handles > h4, .dsalt > h4,
.square_handles > h4, .handlecard > h4, .backet h4, .ordering h4 {
    padding-top: 0;
    border-top: none;
}
.sidebar {
	width: 280px;
	z-index: 9;
}
.sidebar a:active {
	border: none;
}
.vertical-menu ul{
    display:block;
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
    list-style:none;
    position:relative;
}
.vertical-menu ul li {
	display:block; 
	width:100%; 
	height:auto; 
	position:relative;
}
.vertical-menu ul li a {
    position:relative;
    display:block;
    width:100%;
    height:auto;
    box-sizing:border-box;
    text-transform:uppercase;
    font-weight:bold;
    color:#000;
    padding-bottom:30px;
    border-color: #B8860B;
    text-decoration:none;
    text-align: left;
    font-size: 15px;
}
.vertical-menu ul li h5 {
	margin: 0;
}
.vertical-menu ul li h5 a{
	font-size: 18px;
}
.vertical-menu ul li a:hover{
    background:#fff;
    color: #B8860B;
}
.vertical-menu ul li ul {
	position:absolute;
	top:0px;
	left:100%;
	display:none;
}
.vertical-menu ul li:hover > ul {
	display:block;
}
.vertical-menu ul li ul li {
	min-width:390px;
}
.vertical-menu ul li ul li a {
	text-transform:none;
	padding:15px 20px;
	border: 1px solid #ECF1F2;
}
.vertical-menu ul li ul li a:hover, .vertical-menu ul li ul li:hover > a {
	 color: #B8860B;
}
.hitsale .stock-grid, .stock-content .stock-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 830px;
	margin-right: 0;
}
.product-content-flex .our-products-link {
	display: block;
	height: auto;
	width: 800px;
}
.product-content-flex .our-products-link > div:first-child {
	padding-bottom: 30px;
	border-bottom: 2px solid #303030;
}
.product-content-flex .our-products-link > div:last-child {
	padding-top: 30px;
}
.hiden-dors-peculiarities li {
	padding: 0;
	margin-left: 30px;
}
.hiden-dors-peculiarities  span, .hiden-dors-peculiarities strong {
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: bolder;
}
.hiden-dors-peculiarities strong {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: bolder;
}
.hiden-dors-peculiarities p {
	padding: 0;
}
.second-margin {
	margin-top: -20px;
}
.hidendoors-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 870px;
}
.hidendoors-grid a {
	overflow: hidden;
	height: 470px;
	margin-bottom: 30px;
	border: #B8860B solid 1px;
	width: 418px;
    text-transform:uppercase;
}
.hidendoors-grid a span {
	padding: 5px;
}
.hidendoors-grid a:nth-child(5) span, .hidendoors-grid a:nth-child(8) span,
.hidendoors-grid a:nth-child(9) span, .hidendoors-grid a:nth-child(10) span, 
.handles-block  a span 
 {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 20px;
}
.hidendoors-grid a:nth-child(odd) {
	margin-right: 30px;
}
.hidendoors-grid a img {
	height: 100%;
	border: none;
}
.hidendoors-grid a:first-child img {
	margin-left: -190px;
}
.hidendoors-grid a:nth-child(2) img {
	margin-left: -70px;
}
.hidendoors-grid a:nth-child(4) img, .hidendoors-grid a:nth-child(8) img {
	width: 100%;
	height: auto;
}
.what-need-hiden-doors h4 {
	border-top: 2px solid #303030;
	padding-top: 30px;
}
.what-need-hiden-doors ol {
	list-style-type: none; 
    counter-reset:  item;
}
.what-need-hiden-doors ol>li::before {
	content: counter(item) '). ';
    counter-increment: item;
    font-weight: bolder;
}
.what-need-hiden-doors p {
	display: none;
}
.what-need-hiden-doors ol>li {
	margin-bottom: 30px;
}
.what-need-hiden-doors ul li {
	list-style: disc;
}
.list_3_img {
	width: 820px;
	margin: 30px auto;
	display: block;
	border: #B8860B solid 1px;
	border-radius: 4px;
}
.italic-style {
	font-style: italic;
}
.width-height {
	display: grid;
	width: 480px;
	grid-template-columns: 1fr 1fr;
}
.article-about-accessries h4 {
	margin-top: 0;
}
.handles-block  a:first-child img {
	margin-left: -90px;
	width: 130%;
}
.handles-block  a:nth-child(2) img {
	margin-left: -200px;
}
.handles-block  a:nth-child(4) img {
	height: 100%;
}
.handles-block  a:nth-child(7) img {
	width: 100%;
}
.handles-block  a:nth-child(8) img {
	height: 100%;
}
/*.hitsale-widget > .stock-grid, .stock-grid-widget {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
}*/
.stock-grid-widget {
	width: 100% !important;
}
.handles  .wrapper-image-contackt-block img {
	width: 100%;
	margin-top: 0;
}
.hiden-doors-shpon {
	width: 870px;
	margin-left: 30px;
}
.flex-hiden-doors-elem {
	width: 585px;
	max-height: 271px;
	margin-bottom: 30px;
    padding-bottom: 30px;
}
    .flex-hiden-doors-elem a img {
        width: 180px;
        max-height: 270px;
    }
.flex-hiden-doors-elem a:hover {
	background-color: transparent;
}
.hiden-doors-shpon a span {
	height: 100%;
	display: block;
	padding: 7px;
	margin-left: 50px;
	border-radius: 4px;
    text-align:left;
}
.flex-hiden-doors-elem a, .flex-hiden-doors-elem a:active {
	display: flex;
	border-color: transparent;
}
.height_100 {
	height: 100%;
}
.dsalt .wrapper-image-contackt-block img, .square_handles .wrapper-image-contackt-block img{
	margin-left: -80px;
	margin-top: 0 !important;
	width: auto !important;
}
.ware-flex img {
	width: 500px;
	max-height: 633px;
	margin-left: 2px;
	border: 1px solid #B8860B;
	border-radius: 4px;
}
.parameters {
	margin-left: 30px;
	width: 607px;
}
.parameters select, .parameters label, .parameters input[type="number"] {
	width: 300px;
	height: 30px;
	background: #FFFFFF;
	backdrop-filter: blur(4px);
	border-radius: 4px;
	margin-bottom: 30px;
	display: block;
    word-wrap:break-word;
}
.qulity_flex input {
    width: 50px !important;
    margin-right: auto;
    margin-left: 25px
}
.parameters select {
	float: right;
	border: 1px solid #B8860B;
	margin-top: -65px;
	 -o-user-select: contain;
    -moz-user-select: contain;
    -webkit-user-select: contain;
    user-select: contain;
}
.parameters select option {
	-o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
.parameters .bay-batton {
	width: 150px;
	margin-left: 0;
}
.code-bay, .price-bay{
	border: 0 !important;
	text-decoration: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: #000;
}
.swicher {
	display: flex;
}
.ware-characteristics-description button {
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	color: #000;
	border: none;
	margin: 30px 10px 15px 0;
	display: block;
	min-width: 100px;
	height: 20px;
	background-color: #fff;
	text-align: center;
	padding-right: 5px;
}
#characteristics_button {
	color: #B8860B;
}
.ware-characteristics-description button:hover {
	cursor: pointer;
	color: #B8860B;
}
.ware-characteristics-description > pre {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 18px;
    color: #000;
    display: none;
    margin-top: -15px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding-left: 10px;
    font-family: 'Georgia,serif';
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
#characteristics_text {
	display: block;
}
.handles-list .flex-hiden-doors-elem {
	height: auto;
	width: 625px;
}
.handles-list .flex-hiden-doors-elem span {
	width: 390px;
}
.handles-list .flex-hiden-doors-elem a {
	text-align: left;
}
.square_handles .stock-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 830px;
	grid-auto-rows: minmax(60px, min-content);
}
.square_handles>.stock-grid img {
	margin-bottom: 0;
}
.handlecard-flex .handlecard-content {
	width: 830px;
}
.handlecard .handlecard-content img {
	width: 300px;
	height: auto;
}
.handlecard-content h2 {
	text-align: center;
}

.wrapper-img-page {
    width: 170px;
    max-height: 270px;
    overflow:hidden;
}
.brends>div a img {
    margin-bottom:0;
}
.brends {
    grid-auto-rows: minmax(90px, min-content);
    margin-bottom:30px;
}
.product_page h5{
    text-align:center;
    text-transform:uppercase;
    text-decoration:double;
}
.ware-flex {
    width: 870px;
}
.ware-flex img {
    width: 350px;
    height:min-content;
}
.product_blick {
    width: 870px;
}
.product_blick select, .product_blick label, .product_blick input[type="number"] {
    width:232px;
}
.hitsale-content>div a:active {
    border:none;
}
