.test-for-help {
    margin: 20px auto;
}
.test-for-help h3 {
    color: #0099ff;
    text-align: center;
}
.test-for-help legend {
    font-size: 1.1em;
}
.test-for-help form div {
    max-width: 300px;
    margin: 10px 50px;
}
form {
    max-width: 550px;
    margin: 10px auto;
}